echo "node_modules/" > .gitignore
echo ".env" >> .gitignore
echo "backend/node_modules/" >> .gitignore
echo "frontend/node_modules/" >> .gitignore
echo "backend/.env" >> .gitignore4
node_modules/
backend/node_modules/
frontend/node_modules/
.env
backend/.env
dist/
.DS_Store